# Don't push macOS system files
.DS_Store

# Don't push dependencies (they can be reinstalled)
node_modules/

# Don't push environment variables (security)
.env

# Uploaded files (you probably don’t want to check these in)
public/uploads/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
*.env

# VSCode
.vscode/

# Frontend build
/frontend/build/
/frontend/node_modules/

# Backend uploads
/backend/uploads/*

# OS files
.DS_Store